openapi: 3.0.0
info:
  title: Devices Continuous Behavioural Authentication (DCBA) Mechanisms API
  version: 1.0.0
  description: |
    API documentation for the DCBA Services.
    Authentication is now handled through a PEP/PDP access control mechanism.

servers:
  - url: https://dcba-tango.riastone.eu/

components:
  responses:
    GetNotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
              message:
                type: string
          examples:
            ResourceNotFound:
              summary: Resource not found (GET)
              value:
                status: "failed"
                message: "Cannot GET. Resource not found"

    PostNotFound:
      description: Resource not found for POST
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
              message:
                type: string
          examples:
            PostResourceNotFound:
              summary: Resource not found (POST)
              value:
                status: "failed"
                message: "Cannot POST. Resource not found"


paths:
  # Resource API Endpoints #

  # [1] GET /resource/devices
  /resource/devices:
    get:
      tags:
        - Resource API Endpoints  # Tag for service-facing endpoints
      summary: Fetch all devices
      description: >
        Retrieves all device entries from the database.
      responses:
        '200':
          description: Successfully fetched devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  message:
                    type: string
                    example: "Devices fetched successfully"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        device_id:
                          type: string
                        did:
                          type: string
                        sub:
                          type: string
              examples:
                NoDeviceFetched:
                  summary: Example with no devices fetched
                  value:
                    status: "success"
                    message: "Devices fetched successfully"
                    data: []
                SingleDeviceFetched:
                  summary: Example list of a device
                  value:
                    status: "success"
                    message: "Devices fetched successfully"
                    data:
                      - device_id: "5c487cb4a62cb29d"
                        did: "urn:uuid:06e3f05a-51ce-46e9-a9b9-e2cf27fd10e7"
                        sub: "did:my:wallet"
                MultipleDevicesFetched:
                  summary: Example list of devices
                  value:
                    status: "success"
                    message: "Devices fetched successfully"
                    data:
                      - device_id: "5c487cb4a62cb29d"
                        did: "urn:uuid:06e3f05a-51ce-46e9-a9b9-e2cf27fd10e7"
                        sub: "did:my:wallet"
                      - device_id: "fc9a978d5223b680"
                        did: "urn:uuid:a886e2e6-63d8-4e5b-836a-345427eec5ff"
                        sub: "did:my:wallet"
                      - device_id: "gi9b459o5333c612"
                        did: "urn:uuid:b115d2e6-03c9-3t7h-000a-125374ffp9ll"
                        sub: "did:my:wallet"
        '500':
          description: Internal server error while fetching devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "failed"
                  message:
                    type: string
              examples:
                Error fetching device data:
                  summary: Error fetching device data
                  value:
                    status: "failed"
                    message: "Error fetching device data"
                Error fetching resource:
                  summary: Error fetching resource
                  value:
                    status: "failed"
                    message: "Error fetching resource"




  # [2] GET /resource/online-devices  
  /resource/online-devices:
    get:
      tags:
        - Resource API Endpoints  # Tag for service-facing endpoints
      summary: Fetch online devices
      description: >
        Retrieves devices that are currently online.
      responses:
        '200':
          description: Successfully fetched online devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  message:
                    type: string
                    example: "Fetched online devices successfully"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        device_id:
                          type: string
                        did:
                          type: string
                        sub:
                          type: string
              examples:
                NoOnlineDeviceFetched:
                  summary: Example with no online devices fetched
                  value:
                    status: "success"
                    message: "Fetched online devices successfully"
                    data: []
                SingleOnlineDeviceFetched:
                  summary: Example list of an online device
                  value:
                    status: "success"
                    message: "Fetched online devices successfully"
                    data:
                      - device_id: "5c487cb4a62cb29d"
                        did: "urn:uuid:06e3f05a-51ce-46e9-a9b9-e2cf27fd10e7"
                        sub: "did:my:wallet"
                MultipleOnlineDevicesFetched:
                  summary: Example list of online devices
                  value:
                    status: "success"
                    message: "Fetched online devices successfully"
                    data:
                      - device_id: "5c487cb4a62cb29d"
                        did: "urn:uuid:06e3f05a-51ce-46e9-a9b9-e2cf27fd10e7"
                        sub: "did:my:wallet"
                      - device_id: "fc9a978d5223b680"
                        did: "urn:uuid:a886e2e6-63d8-4e5b-836a-345427eec5ff"
                        sub: "did:my:wallet"
                      - device_id: "gi9b459o5333c612"
                        did: "urn:uuid:b115d2e6-03c9-3t7h-000a-125374ffp9ll"
                        sub: "did:my:wallet"
        '500':
          description: Internal server error while fetching online devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "failed"
                  message:
                    type: string
              examples:
                Error fetching online device data:
                  summary: Error fetching online device data
                  value:
                    status: "failed"
                    message: "Error fetching online devices"
                Error fetching resource:
                  summary: Error fetching resource
                  value:
                    status: "failed"
                    message: "Error fetching resource"

  # [3] GET /resource/offline-devices
  /resource/offline-devices:
    get:
      tags:
        - Resource API Endpoints
      summary: Fetch offline devices
      description: >
        Retrieves devices that are currently offline.
      responses:
        '200':
          description: Successfully fetched offline devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  message:
                    type: string
                    example: "Fetched offline devices successfully"
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        device_id:
                          type: string
                        did:
                          type: string
                        sub:
                          type: string
              examples:
                NoOfflineDeviceFetched:
                  summary: Example with no offline devices fetched
                  value:
                    status: "success"
                    message: "Fetched offline devices successfully"
                    data: []
                SingleOfflineDeviceFetched:
                  summary: Example list of an offline device
                  value:
                    status: "success"
                    message: "Fetched offline devices successfully"
                    data:
                      - device_id: "5c487cb4a62cb29d"
                        did: "urn:uuid:06e3f05a-51ce-46e9-a9b9-e2cf27fd10e7"
                        sub: "did:my:wallet"
                MultipleOfflineDevicesFetched:
                  summary: Example list of offline devices
                  value:
                    status: "success"
                    message: "Fetched offline devices successfully"
                    data:
                      - device_id: "5c487cb4a62cb29d"
                        did: "urn:uuid:06e3f05a-51ce-46e9-a9b9-e2cf27fd10e7"
                        sub: "did:my:wallet"
                      - device_id: "fc9a978d5223b680"
                        did: "urn:uuid:a886e2e6-63d8-4e5b-836a-345427eec5ff"
                        sub: "did:my:wallet"
                      - device_id: "gi9b459o5333c612"
                        did: "urn:uuid:b115d2e6-03c9-3t7h-000a-125374ffp9ll"
                        sub: "did:my:wallet"
        '500':
          description: Internal server error while fetching offline devices
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "failed"
                  message:
                    type: string
              examples:
                Error fetching offline device data:
                  summary: Error fetching offline device data
                  value:
                    status: "failed"
                    message: "Error fetching offline devices"
                Error fetching resource:
                  summary: Error fetching resource
                  value:
                    status: "failed"
                    message: "Error fetching resource"




   # [4] POST /devices/behavioural-score
  /resource/behavioural-score:
    post:
      tags:
        - Resource API Endpoints
      security:
        - bearerAuth: []
      summary: Retrieve device behavioural score
      description: >
        Returns the behavioural score of a device based on provided DIDs.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - didSP
                - didRequester
              properties:
                didSP:
                  type: string
                  description: The Decentralized Identifier (DID) of the service provider initiating the request.
                  example: "did:example:serviceprovider123"
                didRequester:
                  type: string
                  description: The Decentralized Identifier (DID) of the requesting employee.
                  example: "did:jwk:eyJrdHkiOiJFQyIsImNydiI6IlAtMjU2Iiwia2lkIjoiMDVhZ0UxdXZPcW1yVDRLY2NiZ1ZKenAwRmJ5SF9weXE4WE5mU2VoOHRkSSIsIngiOiJDRTVqODFybWxqV1JoM1FEOFlJQVNGb093SzRrMjRqU0pWVWEtdl9rSTVZIiwieSI6IjBRU29vbktGVXA4Y0ZLd0dwWHhLSjlSeEZJTk9BOHpWd0ZCTTloQzRKczgifQ"

            examples:
              validRequest:
                summary: Valid request example
                value:
                  didSP: "did:example:serviceprovider123"
                  didRequester: "did:jwk:eyJrdHkiOiJFQyIsImNydiI6IlAtMjU2Iiwia2lkIjoiMDVhZ0UxdXZPcW1yVDRLY2NiZ1ZKenAwRmJ5SF9weXE4WE5mU2VoOHRkSSIsIngiOiJDRTVqODFybWxqV1JoM1FEOFlJQVNGb093SzRrMjRqU0pWVWEtdl9rSTVZIiwieSI6IjBRU29vbktGVXA4Y0ZLd0dwWHhLSjlSeEZJTk9BOHpWd0ZCTTloQzRKczgifQ"
      responses:
        '200':
          description: Behavioural score retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  message:
                    type: string
                    example: "Device found"
                  behaviouralScore:
                    type: number
                    format: float
                    example: 0.85
        '400':
          description: Bad Request - Missing required fields
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "failed"
                  message:
                    type: string
                    example: "Missing required fields: didSP or didRequester"
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "failed"
                  message:
                    type: string
                    example: "Device not found"
        '500':
          description: Internal server error while retrieving behavioural score 
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "failed"
                  message:
                    type: string
              examples:
                Error retrieving behavioural score:
                  summary: Error retrieving behavioural score
                  value:
                    status: "failed"
                    message: "Error retrieving behavioural score"
                Error processing request:
                  summary: Error processing request
                  value:
                    status: "failed"
                    message: "Error processing request"


  # [5] POST /resource/last-location
  /resource/last-location:
    post:
      tags:
        - Resource API Endpoints
      summary: Retrieve device last location
      description: >
        Returns the last location of a device
        based on provided employee DIDs.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - didRequester
                - timezone
              properties:
                didRequester:
                  type: string
                  description: The Decentralized Identifier (DID) of the requesting employee.
                  example: "did:jwk:eyJrdHkiOiJFQyIsImNydiI6IlAtMjU2Iiwia2lkIjoiMDVhZ0UxdXZPcW1yVDRLY2NiZ1ZKenAwRmJ5SF9weXE4WE5mU2VoOHRkSSIsIngiOiJDRTVqODFybWxqV1JoM1FEOFlJQVNGb093SzRrMjRqU0pWVWEtdl9rSTVZIiwieSI6IjBRU29vbktGVXA4Y0ZLd0dwWHhLSjlSeEZJTk9BOHpWd0ZCTTloQzRKczgifQ"
                timezone: 
                  type: string
                  description: >
                    Preferred IANA timezone name to interpret the 'from' and 'to' parameters for filtering location history, and to format the returned timestamps accordingly.
                    Example values include: Europe/Athens, Europe/Lisbon, Asia/Tokyo.
                  example: "Europe/Athens"
            examples:
              validRequest:
                summary: Valid request example
                value:
                  didRequester: "did:jwk:eyJrdHkiOiJFQyIsImNydiI6IlAtMjU2Iiwia2lkIjoiMDVhZ0UxdXZPcW1yVDRLY2NiZ1ZKenAwRmJ5SF9weXE4WE5mU2VoOHRkSSIsIngiOiJDRTVqODFybWxqV1JoM1FEOFlJQVNGb093SzRrMjRqU0pWVWEtdl9rSTVZIiwieSI6IjBRU29vbktGVXA4Y0ZLd0dwWHhLSjlSeEZJTk9BOHpWd0ZCTTloQzRKczgifQ"
                  timezone: "Europe/Athens"
      responses:
        '200':
          description: Last known device location retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  message:
                    type: string
                    example: "Device found"
                  lastLocation:
                    type: string
                    example: "WAREHOUSE"
                  firstSeenAt:
                    type: string
                    format: date-time
                    example: "2025-05-29 11:17:50"
                  lastSeenAt:
                    type: string
                    format: date-time
                    example: "2025-05-29 11:18:50"
                  durationSeconds:
                    type: integer
                    example: 60

        '400':
          description: Bad Request - Missing required fields or invalid timezone
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "failed"
                  message:
                    type: string
              examples:
                missingFields:
                  summary: Missing required fields
                  value:
                    status: "failed"
                    message: "Missing required fields: didRequester or timezone"
                invalidTimezone:
                  summary: Invalid timezone format
                  value:
                    status: "failed"
                    message: "Invalid timezone. Please provide a valid IANA timezone name (e.g. 'Europe/Athens', 'America/New_York')"

        '404':
          description: Device not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "failed"
                  message:
                    type: string
              examples:
                deviceNotFound:
                  summary: Device not found message
                  value:
                    status: "failed"
                    message: "Device not found"
                accessMapNotFound:
                  summary: Access map missing for device with ePassportId
                  value:
                    status: "failed"
                    message: "Access map for device associated with ePassportId 123456789 not found"
        '500':
          description: Internal server error while retrieving last location
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "failed"
                  message:
                    type: string
              examples:
                Error retrieving retrieving last location:
                  summary: Internal server error while retrieving last location
                  value:
                    status: "failed"
                    message: "Error retrieving device last location"
                Error processing request:
                  summary: Error processing request
                  value:
                    status: "failed"
                    message: "Error processing request"


  # [6] POST /resource/location-history
  /resource/location-history:
    post:
      tags:
        - Resource API Endpoints
      summary: Retrieve device location history within a specified timeframe
      description: >
        Returns the location history of a device based on provided employee DIDs.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - didRequester
                - from
                - to
                - timezone
              properties:
                didRequester:
                  type: string
                  description: The Decentralized Identifier (DID) of the requesting employee.
                  example: "did:jwk:eyJrdHkiOiJFQyIsImNydiI6IlAtMjU2Iiwia2lkIjoiMDVhZ0UxdXZPcW1yVDRLY2NiZ1ZKenAwRmJ5SF9weXE4WE5mU2VoOHRkSSIsIngiOiJDRTVqODFybWxqV1JoM1FEOFlJQVNGb093SzRrMjRqU0pWVWEtdl9rSTVZIiwieSI6IjBRU29vbktGVXA4Y0ZLd0dwWHhLSjlSeEZJTk9BOHpWd0ZCTTloQzRKczgifQ"
                from:
                  type: string
                  description: "Local start date-time in the specified timezone for filtering the location history: 'YYYY-MM-DD HH:mm:ss'."
                  example: "2025-05-28 12:00:00"
                to:
                  type: string
                  description: "Local start date-time in the specified timezone for filtering the location history: 'YYYY-MM-DD HH:mm:ss'."
                  example: "2025-07-30 12:15:00"
                timezone: 
                  type: string
                  description: >
                    Preferred IANA timezone name to interpret the 'from' and 'to' parameters for filtering location history, and to format the returned timestamps accordingly.
                    Example values include: Europe/Athens, Europe/Lisbon, Asia/Tokyo.
                  example: "Europe/Athens"
            examples:
              validRequest:
                summary: Valid request example
                value:
                  didRequester: "did:jwk:eyJrdHkiOiJFQyIsImNydiI6IlAtMjU2Iiwia2lkIjoiMDVhZ0UxdXZPcW1yVDRLY2NiZ1ZKenAwRmJ5SF9weXE4WE5mU2VoOHRkSSIsIngiOiJDRTVqODFybWxqV1JoM1FEOFlJQVNGb093SzRrMjRqU0pWVWEtdl9rSTVZIiwieSI6IjBRU29vbktGVXA4Y0ZLd0dwWHhLSjlSeEZJTk9BOHpWd0ZCTTloQzRKczgifQ"
                  from: "2025-05-28 12:00:00"
                  to: "2025-07-30 12:15:00"
                  timezone: "Europe/Athens"
      responses:
        '200':
          description: Device location history retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  message:
                    type: string
                    example: "Device location history retrieved"
              examples:
                NoLocationHistoryFound:
                  summary: Example response with no location history
                  value:
                    status: "success"
                    message: "Device location history retrieved"
                    location_history: []
                singleLocation:
                  summary: Example response with single location entry
                  value:
                    status: "success"
                    message: "Device location history retrieved"
                    location_history:
                      - estimated_location: "WAREHOUSE"
                        firstSeenAt: "2025-05-29 11:19:26"
                        lastSeenAt: "2025-05-29 11:20:36"
                        durationSeconds: 70
                multipleLocations:
                  summary: Example response with multiple location entries
                  value:
                    status: "success"
                    message: "Device location history retrieved"
                    location_history:
                      - estimated_location: "WAREHOUSE"
                        firstSeenAt: "2025-05-29 11:19:26"
                        lastSeenAt: "2025-05-29 11:20:36"
                        durationSeconds: 70
                      - estimated_location: "PACKAGING_LINES"
                        firstSeenAt: "2025-05-29 11:20:36"
                        lastSeenAt: "2025-05-29 11:21:41"
                        durationSeconds: 65
                      - estimated_location: "PERMITTED_AREA"
                        firstSeenAt: "2025-05-29 11:21:41"
                        lastSeenAt: "2025-05-29 11:22:00"
                        durationSeconds: 19
        '400':
          description: Bad Request - Missing required fields or invalid timeframe
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "failed"
                  message:
                    type: string
              examples:
                MissingFields:
                  summary: Missing required fields
                  value:
                    status: "failed"
                    message: "Missing required fields: didRequester, from, to, or timezone"
                InvalidTimestamps:
                  summary: Invalid timestamp format
                  value:
                    status: "failed"
                    message: "Invalid from/to format. Both must be local datetime strings like 'YYYY-MM-DD HH:mm:ss'"
                InvalidTimezone:
                  summary: Invalid timezone format
                  value:
                    status: "failed"
                    message: "Invalid timezone. Please provide a valid IANA timezone name (e.g. 'Europe/Athens', 'America/New_York')"
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "failed"
                  message:
                    type: string
              examples:
                deviceNotFound:
                  summary: Device not found message
                  value:
                    status: "failed"
                    message: "Device not found"
                accessMapNotFound:
                  summary: Access map missing for device with ePassportId
                  value:
                    status: "failed"
                    message: "Access map for device associated with ePassportId 123456789 not found"
        '500':
          description: Internal server error while retrieving device location history
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "failed"
                  message:
                    type: string
              examples:
                Error retrieving device location history:
                  summary: Error retrieving device location history
                  value:
                    status: "failed"
                    message: "Error retrieving device location history"
                Error processing request:
                  summary: Error processing request
                  value:
                    status: "failed"
                    message: "Error processing request"



  # [7] POST /resource/permitted-location-history
  /resource/permitted-location-history:
    post:
      tags:
        - Resource API Endpoints
      summary: Retrieve device permitted location history within a specified timeframe
      description: >
        Returns the permitted location history of a device based on provided employee DIDs.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - didRequester
                - from
                - to
                - timezone
              properties:
                didRequester:
                  type: string
                  description: The Decentralized Identifier (DID) of the requesting employee.
                  example: "did:jwk:eyJrdHkiOiJFQyIsImNydiI6IlAtMjU2Iiwia2lkIjoiMDVhZ0UxdXZPcW1yVDRLY2NiZ1ZKenAwRmJ5SF9weXE4WE5mU2VoOHRkSSIsIngiOiJDRTVqODFybWxqV1JoM1FEOFlJQVNGb093SzRrMjRqU0pWVWEtdl9rSTVZIiwieSI6IjBRU29vbktGVXA4Y0ZLd0dwWHhLSjlSeEZJTk9BOHpWd0ZCTTloQzRKczgifQ"
                from:
                  type: string
                  description: "Local start date-time in the specified timezone for filtering the location history: 'YYYY-MM-DD HH:mm:ss'."
                  example: "2025-05-28 12:00:00"
                to:
                  type: string
                  description: "Local start date-time in the specified timezone for filtering the location history: 'YYYY-MM-DD HH:mm:ss'."
                  example: "2025-07-30 12:15:00"
                timezone: 
                  type: string
                  description: >
                    Preferred IANA timezone name to interpret the 'from' and 'to' parameters for filtering location history, and to format the returned timestamps accordingly.
                    Example values include: Europe/Athens, Europe/Lisbon, Asia/Tokyo.
                  example: "Europe/Athens"
            examples:
              validRequest:
                summary: Valid request example
                value:
                  didRequester: "did:jwk:eyJrdHkiOiJFQyIsImNydiI6IlAtMjU2Iiwia2lkIjoiMDVhZ0UxdXZPcW1yVDRLY2NiZ1ZKenAwRmJ5SF9weXE4WE5mU2VoOHRkSSIsIngiOiJDRTVqODFybWxqV1JoM1FEOFlJQVNGb093SzRrMjRqU0pWVWEtdl9rSTVZIiwieSI6IjBRU29vbktGVXA4Y0ZLd0dwWHhLSjlSeEZJTk9BOHpWd0ZCTTloQzRKczgifQ"
                  from: "2025-05-28 12:00:00"
                  to: "2025-07-30 12:15:00"
                  timezone: "Europe/Athens"

                  
      responses:
        '200':
          description: Device permitted location history retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  message:
                    type: string
                    example: "Device permitted location history retrieved"
              examples:
                NoLocationHistoryFound:
                  summary: Example response with no permitted location entry
                  value:
                    status: "success"
                    message: "Device permitted location history retrieved"
                    permitted_location_history: []
                singleLocation:
                  summary: Example response with single permitted location entry
                  value:
                    status: "success"
                    message: "Device permitted location history retrieved"
                    permitted_location_history:
                      - estimated_location: "PERMITTED_AREA"
                        firstSeenAt: "2025-05-29 11:19:26"
                        lastSeenAt: "2025-05-29 11:20:36"
                        durationSeconds: 70
                multipleLocations:
                  summary: Example response with multiple permitted location entries
                  value:
                    status: "success"
                    message: "Device permitted location history retrieved"
                    permitted_location_history:
                      - estimated_location: "PERMITTED_AREA"
                        firstSeenAt: "2025-05-29 11:19:26"
                        lastSeenAt: "2025-05-29 11:20:36"
                        durationSeconds: 70
                      - estimated_location: "PERMITTED_AREA"
                        firstSeenAt: "2025-05-29 11:22:56"
                        lastSeenAt: "2025-05-29 11:23:56"
                        durationSeconds: 60
                      - estimated_location: "PERMITTED_AREA"
                        firstSeenAt: "2025-05-29 11:25:00"
                        lastSeenAt: "2025-05-29 11:27:05"
                        durationSeconds: 125
        '400':
          description: Bad Request - Missing required fields or invalid timeframe
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "failed"
                  message:
                    type: string
              examples:
                MissingFields:
                  summary: Missing required fields
                  value:
                    status: "failed"
                    message: "Missing required fields: didRequester, from, to, or timezone"
                InvalidTimestamps:
                  summary: Invalid timestamp format
                  value:
                    status: "failed"
                    message: "Invalid from/to format. Both must be local datetime strings like 'YYYY-MM-DD HH:mm:ss'"
                InvalidTimezone:
                  summary: Invalid timezone format
                  value:
                    status: "failed"
                    message: "Invalid timezone. Please provide a valid IANA timezone name (e.g. 'Europe/Athens', 'America/New_York')"
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "failed"
                  message:
                    type: string
              examples:
                deviceNotFound:
                  summary: Device not found message
                  value:
                    status: "failed"
                    message: "Device not found"
                accessMapNotFound:
                  summary: Access map missing for device with ePassportId
                  value:
                    status: "failed"
                    message: "Access map for device associated with ePassportId 123456789 not found"
        '500':
          description: Internal server error while retrieving device permitted location history
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "failed"
                  message:
                    type: string
              examples:
                Error retrieving device permitted location history:
                  summary: Error retrieving device permitted location history
                  value:
                    status: "failed"
                    message: "Error retrieving device permitted location history"
                Error processing request:
                  summary: Error processing request
                  value:
                    status: "failed"
                    message: "Error processing request"


  # [8] POST /resource/restricted-location-history
  /resource/restricted-location-history:
    post:
      tags:
        - Resource API Endpoints
      summary: Retrieve device restricted location history within a specified timeframe
      description: >
        Returns the restricted location history of a device based on provided employee DIDs.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - didRequester
                - from
                - to
                - timezone
              properties:
                didRequester:
                  type: string
                  description: The Decentralized Identifier (DID) of the requesting employee.
                  example: "did:jwk:eyJrdHkiOiJFQyIsImNydiI6IlAtMjU2Iiwia2lkIjoiMDVhZ0UxdXZPcW1yVDRLY2NiZ1ZKenAwRmJ5SF9weXE4WE5mU2VoOHRkSSIsIngiOiJDRTVqODFybWxqV1JoM1FEOFlJQVNGb093SzRrMjRqU0pWVWEtdl9rSTVZIiwieSI6IjBRU29vbktGVXA4Y0ZLd0dwWHhLSjlSeEZJTk9BOHpWd0ZCTTloQzRKczgifQ"
                from:
                  type: string
                  description: "Local start date-time in the specified timezone for filtering the location history: 'YYYY-MM-DD HH:mm:ss'."
                  example: "2025-05-28 12:00:00"
                to:
                  type: string
                  description: "Local start date-time in the specified timezone for filtering the location history: 'YYYY-MM-DD HH:mm:ss'."
                  example: "2025-07-30 12:15:00"
                timezone: 
                  type: string
                  description: >
                    Preferred IANA timezone name to interpret the 'from' and 'to' parameters for filtering location history, and to format the returned timestamps accordingly.
                    Example values include: Europe/Athens, Europe/Lisbon, Asia/Tokyo.
                  example: "Europe/Athens"
            examples:
              validRequest:
                summary: Valid request example
                value:
                  didRequester: "did:jwk:eyJrdHkiOiJFQyIsImNydiI6IlAtMjU2Iiwia2lkIjoiMDVhZ0UxdXZPcW1yVDRLY2NiZ1ZKenAwRmJ5SF9weXE4WE5mU2VoOHRkSSIsIngiOiJDRTVqODFybWxqV1JoM1FEOFlJQVNGb093SzRrMjRqU0pWVWEtdl9rSTVZIiwieSI6IjBRU29vbktGVXA4Y0ZLd0dwWHhLSjlSeEZJTk9BOHpWd0ZCTTloQzRKczgifQ"
                  from: "2025-05-28 12:00:00"
                  to: "2025-07-30 12:15:00"
                  timezone: "Europe/Athens"
      responses:
        '200':
          description: Device restricted location history retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  message:
                    type: string
                    example: "Device restricted location history retrieved"
              examples:
                NoLocationHistoryFound:
                  summary: Example response with no restricted location entry
                  value:
                    status: "success"
                    message: "Device restricted location history retrieved"
                    restricted_location_history: []
                singleLocation:
                  summary: Example response with single restricted location entry
                  value:
                    status: "success"
                    message: "Device restricted location history retrieved"
                    restricted_location_history:
                      - estimated_location: "PACKAGING_LINES"
                        firstSeenAt: "2025-05-29 11:19:26"
                        lastSeenAt: "2025-05-29 11:20:36"
                        durationSeconds: 70
                multipleLocations:
                  summary: Example response with multiple restricted location entries
                  value:
                    status: "success"
                    message: "Device restricted location history retrieved"
                    restricted_location_history:
                      - estimated_location: "PACKAGING_LINES"
                        firstSeenAt: "2025-05-29 11:19:26"
                        lastSeenAt: "2025-05-29 11:20:36"
                        durationSeconds: 70
                      - estimated_location: "SORTING_LINES_4_AND_5"
                        firstSeenAt: "2025-05-29 11:20:36"
                        lastSeenAt: "2025-05-29 11:20:56"
                        durationSeconds: 20
                      - estimated_location: "WAREHOUSE"
                        firstSeenAt: "2025-05-29 11:22:00"
                        lastSeenAt: "2025-05-29 11:23:15"
                        durationSeconds: 75
        '400':
          description: Bad Request - Missing required fields or invalid timeframe
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "failed"
                  message:
                    type: string
              examples:
                MissingFields:
                  summary: Missing required fields
                  value:
                    status: "failed"
                    message: "Missing required fields: didRequester, from, to, or timezone"
                InvalidTimestamps:
                  summary: Invalid timestamp format
                  value:
                    status: "failed"
                    message: "Invalid from/to format. Both must be local datetime strings like 'YYYY-MM-DD HH:mm:ss'"
                InvalidTimezone:
                  summary: Invalid timezone format
                  value:
                    status: "failed"
                    message: "Invalid timezone. Please provide a valid IANA timezone name (e.g. 'Europe/Athens', 'America/New_York')"
        '404':
          description: Device not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "failed"
                  message:
                    type: string
              examples:
                deviceNotFound:
                  summary: Device not found message
                  value:
                    status: "failed"
                    message: "Device not found"
                accessMapNotFound:
                  summary: Access map missing for device with ePassportId
                  value:
                    status: "failed"
                    message: "Access map for device associated with ePassportId 123456789 not found"

        '500':
          description: Internal server error while retrieving device restricted location history
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "failed"
                  message:
                    type: string
              examples:
                Error retrieving device restricted location history:
                  summary: Error retrieving device restricted location history
                  value:
                    status: "failed"
                    message: "Error retrieving device restricted location history"
                Error processing request:
                  summary: Error processing request
                  value:
                    status: "failed"
                    message: "Error processing request"


  # [9] GET /resource/alerts
  /resource/alerts:
    get:
      tags:
        - Resource API Endpoints
      summary: Retrieve all history alert related to devices presence in Restricted Areas.
      description: >
        Returns the restricted location history of a device based on provided employee DIDs.
      parameters:
        - name: timezone
          in: query
          description: >
            Preferred IANA timezone name to interpret timestamps and format returned dates accordingly.
            Example: Europe/Athens, Europe/Lisbon, Asia/Tokyo.
          required: true
          schema:
            type: string
            example: Europe/Athens
        - name: from
          in: query
          description: >
            Optional lower bound of the time range to filter alerts.
            Must be a local datetime string in the format 'YYYY-MM-DD HH:mm:ss'.
          required: false
          schema:
            type: string
            example: "2025-05-28 00:00:00"
        - name: to
          in: query
          description: >
            Optional upper bound of the time range to filter alerts.
            Must be a local datetime string in the format 'YYYY-MM-DD HH:mm:ss'.
          required: false
          schema:
            type: string
            example: "2025-07-30 12:15:00"
      responses:
        '200':
          description: Alerts retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Alerts retrieved successfully
                  timezone:
                    type: string
                    example: Europe/Athens
                  alerts:
                    type: array
                    items:
                      type: object
                      properties:
                        device_id:
                          type: string
                          example: "5c487cb4a62cb29d"
                        did:
                          type: string
                          example: "did:jwk:eyJrdHkiOiJFQyIsImNydiI6IlAtMjU2Iiwia2lkIjoiMDVhZ0UxdXZPcW1yVDRLY2NiZ1ZKenAwRmJ5SF9weXE4WE5mU2VoOHRkSSIsIngiOiJDRTVqODFybWxqV1JoM1FEOFlJQVNGb093SzRrMjRqU0pWVWEtdl9rSTVZIiwieSI6IjBRU29vbktGVXA4Y0ZLd0dwWHhLSjlSeEZJTk9BOHpWd0ZCTTloQzRKczgifQ"
                        alert_info:
                          type: object
                          properties:
                            estimated_location:
                              type: string
                              example: "WAREHOUSE"
                            first_seen_at:
                              type: string
                              format: date-time
                              example: "2025-05-30 12:00:00"
                            last_seen_at:
                              type: string
                              format: date-time
                              example: "2025-05-30 12:00:00"
                            duration_s:
                              type: integer
                              example: 0
              examples:
                emptyHistory:
                  summary: Empty alert list
                  value:
                    status: success
                    message: Alerts retrieved successfully
                    alerts: []
                singleAlert:
                  summary: History with one single alert
                  value:
                    status: success
                    message: Alerts retrieved successfully
                    alerts:
                      - device_id: "5c487cb4a62cb29d"
                        did: "did:jwk:eyJrdHkiOiJFQyIsImNydiI6IlAtMjU2Iiwia2lkIjoiMDVhZ0UxdXZPcW1yVDRLY2NiZ1ZKenAwRmJ5SF9weXE4WE5mU2VoOHRkSSIsIngiOiJDRTVqODFybWxqV1JoM1FEOFlJQVNGb093SzRrMjRqU0pWVWEtdl9rSTVZIiwieSI6IjBRU29vbktGVXA4Y0ZLd0dwWHhLSjlSeEZJTk9BOHpWd0ZCTTloQzRKczgifQ"
                        alert_info:
                          estimated_location: "WAREHOUSE"
                          first_seen_at: "2025-05-30 12:00:00"
                          last_seen_at: "2025-05-30 12:05:00"
                          duration_s: 300
                multipleAlerts:
                  summary: History with multiple alerts
                  value:
                    status: success
                    message: Alerts retrieved successfully
                    alerts:
                      - device_id: "5c487cb4a62cb29d"
                        did: "did:jwk:eyJrdHkiOiJFQyIsImNydiI6IlAtMjU2Iiwia2lkIjoiMDVhZ0UxdXZPcW1yVDRLY2NiZ1ZKenAwRmJ5SF9weXE4WE5mU2VoOHRkSSIsIngiOiJDRTVqODFybWxqV1JoM1FEOFlJQVNGb093SzRrMjRqU0pWVWEtdl9rSTVZIiwieSI6IjBRU29vbktGVXA4Y0ZLd0dwWHhLSjlSeEZJTk9BOHpWd0ZCTTloQzRKczgifQ"
                        alert_info:
                          estimated_location: "WAREHOUSE"
                          first_seen_at: "2025-05-30 12:00:00"
                          last_seen_at: "2025-05-30 12:05:00"
                          duration_s: 300
                      - device_id: "5c487cb4a62cb29d"
                        did: "did:jwk:eyJrdHkiOiJFQyIsImNydiI6IlAtMjU2Iiwia2lkIjoiMDVhZ0UxdXZPcW1yVDRLY2NiZ1ZKenAwRmJ5SF9weXE4WE5mU2VoOHRkSSIsIngiOiJDRTVqODFybWxqV1JoM1FEOFlJQVNGb093SzRrMjRqU0pWVWEtdl9rSTVZIiwieSI6IjBRU29vbktGVXA4Y0ZLd0dwWHhLSjlSeEZJTk9BOHpWd0ZCTTloQzRKczgifQ"
                        alert_info:
                          estimated_location: "SORTING_LINES_1_TO_3"
                          first_seen_at: "2025-05-30 12:00:00"
                          last_seen_at: "2025-05-30 12:05:00"
                          duration_s: 300
        '400':
          description: Bad Request - Missing timezone
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "failed"
                  message:
                    type: string
              examples:
                InvalidTimezone:
                  summary: Invalid or missing timezone
                  value:
                    status: "failed"
                    message: "Invalid or missing 'timezone'. Please provide a valid IANA timezone (e.g. 'Europe/Athens')"
                InvalidFrom:
                  summary: Invalid 'from' format
                  value:
                    status: "failed"
                    message: "Invalid 'from' format. Use 'YYYY-MM-DD HH:mm:ss'"
                InvalidTo:
                  summary: Invalid 'to' format
                  value:
                    status: "failed"
                    message: "Invalid 'to' format. Use 'YYYY-MM-DD HH:mm:ss'"
        '500':
          description: Internal server error while retrieving alert history
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: failed
                  message:
                    type: string
              examples:
                Error retrieving alert history:
                  summary: Error retrieving alert history
                  value:
                    status: "failed"
                    message: "Error retrieving alert history"
                Error fetching resource:
                  summary: Error fetching resource
                  value:
                    status: "failed"
                    message: "Error fetching resource"


       
  # [10] DELETE /resource/delete-employee
  /resource/delete-employee:
    delete:
      tags:
        - Resource API Endpoints
      summary: Delete a device using the associated did
      description: Deletes a device from the database based on the provided `did` query parameter.
      parameters:
        - in: query
          name: did
          schema:
            type: string
          required: true
          description: The Decentralized Identifier (did) of the employee to delete
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Device deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Device deleted successfully
                  did:
                    type: string
                    example: "did:jwk:eyJrdHkiOiJFQyIsImNydiI6IlAtMjU2Iiwia2lkIjoiMDVhZ0UxdXZPcW1yVDRLY2NiZ1ZKenAwRmJ5SF9weXE4WE5mU2VoOHRkSSIsIngiOiJDRTVqODFybWxqV1JoM1FEOFlJQVNGb093SzRrMjRqU0pWVWEtdl9rSTVZIiwieSI6IjBRU29vbktGVXA4Y0ZLd0dwWHhLSjlSeEZJTk9BOHpWd0ZCTTloQzRKczgifQ"
        '400':
          description: Missing did in the request
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: failed
                  message:
                    type: string
                    example: Missing 'did'. Please provide a valid employee 'did' in the query parameters
        '404':
          description: No device found with the given did
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: failed
                  message:
                    type: string
                    example: No device found associated with this 'did'
                  did:
                    type: string
                    example: "did:jwk:eyJrdHkiOiJFQyIsImNydiI6IlAtMjU2Iiwia2lkIjoiMDVhZ0UxdXZPcW1yVDRLY2NiZ1ZKenAwRmJ5SF9weXE4WE5mU2VoOHRkSSIsIngiOiJDRTVqODFybWxqV1JoM1FEOFlJQVNGb093SzRrMjRqU0pWVWEtdl9rSTVZIiwieSI6IjBRU29vbktGVXA4Y0ZLd0dwWHhLSjlSeEZJTk9BOHpWd0ZCTTloQzRKczgifQ"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: failed
                  message:
                    type: string
                    example: Internal server error while deleting the device associated with this 'did'


  # [11] GET /resource/access-maps
  /resource/access-maps:
    get:
      tags:
        - Resource API Endpoints
      summary: Get all access maps
      description: Returns all the access maps associated with the ePassport of the employees.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Access maps retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Access maps retrieved successfully
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        ePassportId:
                          type: string
                          example: "EMP123456"
                        permittedAreas:
                          type: array
                          items:
                            type: string
                          example: ["Lab A", "Server Room"]
                        restrictedAreas:
                          type: array
                          items:
                            type: string
                          example: ["HR Office", "Finance Dept"]
        '404':
          description: No access maps found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: failed
                  message:
                    type: string
                    example: No access maps found in the database
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: failed
                  message:
                    type: string
                    example: Internal server error while fetching access maps
  # Resource API Endpoints # 




  # Debugging Endpoints #
  # [1] GET /debugging/get-debugging-logs
  /debugging/get-debugging-logs:
    get:
      summary: Fetch all debugging logs for a specific device
      description: Fetches all debugging logs for a given device, filtered by device_id, date range, limit, and optional timezone.
      tags:
        - Debugging Endpoints
      parameters:
        - in: query
          name: device_id
          schema:
            type: string
          required: true
          description: Unique ID of the device to fetch logs for
          example: "5c487cb4a62cb29d"
        - in: query
          name: startDate
          schema:
            type: string
          required: false
          description: Optional start date to filter logs (inclusive), in local time
          example: "2025-09-01 00:00:00"
        - in: query
          name: endDate
          schema:
            type: string
          required: false
          description: Optional end date to filter logs (inclusive), in local time
          example: "2025-09-30 23:59:59"
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 1000
          required: true
          description: Maximum number of logs to return
          example: 100
        - in: query
          name: timezone
          schema:
            type: string
          required: false
          description: IANA timezone name for interpreting startDate/endDate and formatting logs (e.g., 'Europe/Athens')
          example: "Europe/Athens"
      responses:
        '200':
          description: Debugging logs fetched successfully
          content:
            application/json:
              examples:
                Success:
                  summary: Logs fetched successfully
                  value:
                    status: success
                    message: Debugging logs fetched successfully
                    logs:
                      - device_id: "5c487cb4a62cb29d"
                        log_level: "ERROR"
                        message: "Failed to connect to server"
                        timestamp: "2025-09-01 12:34:56"
                      - device_id: "5c487cb4a62cb29d"
                        log_level: "INFO"
                        message: "Device started successfully"
                        timestamp: "2025-09-01 12:30:00"
        '400':
          description: Invalid request (missing device_id or invalid limit)
          content:
            application/json:
              examples:
                MissingDeviceID:
                  summary: Missing device_id
                  value:
                    status: failed
                    message: Device ID is required.
                InvalidLimit:
                  summary: Invalid limit
                  value:
                    status: failed
                    message: Limit is required and must be a positive number.
                InvalidTimezone:
                  summary: Invalid timezone
                  value:
                    status: failed
                    message: Invalid timezone. Please provide a valid IANA timezone name (e.g., 'Europe/Athens').
        '500':
          description: Internal server error
          content:
            application/json:
              examples:
                InternalError:
                  summary: Server error fetching logs
                  value:
                    status: failed
                    message: Internal server error.












































  # Authenticator Endpoints #

  # [1] POST /authenticator/begin-session
  /authenticator/begin-session:
    post:
      summary: Handle device initiation process (QR SCANNER)
      description: Initiates a device session request by upserting into the database and generating a login QR. The result is reflected in the HTTP status and JSON body.
      tags:
        - Authenticator Endpoints
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - device_id
                - qr_scanner_state_request
                - log_file_uri
              properties:
                device_id:
                  type: string
                  description: The ID of the device initiating the session.
                  example: 5c487cb4a62cb29d
                qr_scanner_state_request:
                  type: string
                  description: The state parameter for QR scanner.
                  example: a6f3fn529i2a0
                log_file_uri:
                  type: string
                  description: Log file URI, where offline logs will be appended for future transmission.
                  example: file:///data/user/0/com.dcbaauthenticator/files/46299a77c27b0d4c/authenticator_logs.txt
      responses:
        '200':
          description: Session request successfully created or updated.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [success]
                  message:
                    type: string
                  deviceAuthQRCode:
                    type: string
                    description: The QR code (only present on success).
                  sessionRequest:
                    type: object
                    description: The session request object that was saved or updated.
              examples:
                Success:
                  summary: Successful session request
                  value:
                    status: success
                    message: QR Code generated successfully.
                    deviceAuthQRCode: "data:image/png;base64,..."
                    sessionRequest:
                      device_id: "5c487cb4a62cb29d"
                      qr_scanner_state_request: "a6f3fn529i2a0"
                      log_file_uri: "file:///data/user/0/com.dcbaauthenticator/files/46299a77c27b0d4c/authenticator_logs.txt"
                      timestamp: "2025-04-26T12:34:56.789Z"
        '400':
          description: Missing required input fields.
          content:
            application/json:
              examples:
                MissingDeviceID:
                  summary: Missing device_id
                  value:
                    status: failed
                    message: Device ID is missing, session request failed.
                MissingQrScannerState:
                  summary: Missing qr_scanner_state_request
                  value:
                    status: failed
                    message: QR scanner state request is missing, session request failed.
        '502':
          description: Error in verifier service response.
          content:
            application/json:
              examples:
                QRCodeNotFound:
                  summary: QR code not found in verifier response
                  value:
                    status: failed
                    message: QR code not found in the verifier service response.

        '500':
          description: Internal error during session request handling.
          content:
            application/json:
              examples:
                SessionHandlingError:
                  summary: Internal Server Error during session request
                  value:
                    status: failed
                    message: Error handling session request.
                QRCodeExtractionError:
                  summary: QR code extraction failure
                  value:
                    status: failed
                    message: Failed to extract QR code due to an internal server error.



  # [2] GET /authenticator/auth-callback
  /authenticator/auth-callback:
    get:
      summary: Handle the authentication callback from Tango Verifier
      description: >
        Exchanges an authorization code for a token, decodes the JWT, validates the device session request,
        and returns the appropriate status depending on session and device state.
      tags:
        - Authenticator Endpoints
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
          description: Authorization code returned by the Tango Verifier.
        - name: state
          in: query
          required: true
          schema:
            type: string
          description: Opaque state value to correlate the session request.
      responses:
        '200':
          description: Success — Device authenticated and marked online.
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - message
                  - decodedPayload
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                    description: Indicates the success of the operation.
                  message:
                    type: string
                    example: Authentication success. Device status updated to online.
                    description: A human-readable message explaining the result.
                  decodedPayload:
                    type: object
                    description: Decoded JWT payload containing claims such as sub, did, exp, etc.
                    example:
                      aud:
                        - "k8s-cluster.tango.rid-intrasoft.eu"
                      client_id: "did:web:ips.k8s-cluster.tango.rid-intrasoft.eu:did"
                      exp: 1747396583
                      iss: "did:web:ips.k8s-cluster.tango.rid-intrasoft.eu:did"
                      kid: "ULaW3a1G2l-m_Yh13uBGitxe4ULkzd5cAxh7tTgdeRs"
                      sub: "did:my:wallet"
                      verifiableCredential:
                        "@context":
                          - "https://www.w3.org/2018/credentials/v1"
                          - "https://example.com/custom-context"
                        credentialSchema:
                          id: "https://example.com/schema.json"
                          type: "JsonSchemaValidator2018"
                        credentialSubject:
                          id: "did:my:wallet"
                          # Add additional fields as relevant here
                        id: "urn:uuid:869f17ef-a48d-46d2-9567-322abea828a9"
                        issuanceDate: "2025-05-16T11:26:01Z"
                        issued: "2025-05-16T11:26:01Z"
                        issuer: "did:web:ips.k8s-cluster.tango.rid-intrasoft.eu:did"
                        proof:
                          type: "EcdsaSecp256k1VerificationKey2019"
                          # add other proof fields if desired
                        type:
                          - "VerifiableCredential"
                          - "IDCredential"
                        validFrom: "2025-05-16T11:26:01Z"


        '400':
          description: Missing required parameters.
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - message
                properties:
                  status:
                    type: string
                    enum: [failed]
                    example: failed
                    description: Indicates the operation failed due to client error.
                  message:
                    type: string
                    example: "Missing required parameters: code or state."
                    description: Explanation of what parameters are missing.

        '401':
          description: Unauthorized — Authentication failed due to missing or invalid credentials.
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - message
                properties:
                  status:
                    type: string
                    enum: [failed]
                    example: failed
                    description: Indicates that authentication was unsuccessful.
                  message:
                    type: string
                    description: Specific reason why the request was unauthorized.
              examples:
                tokenNotReceived:
                  summary: Missing authentication token
                  value:
                    status: failed
                    message: Authentication token not received.
                invalidPayload:
                  summary: Invalid token payload
                  value:
                    status: failed
                    message: Invalid authentication token payload.
                credentialsMismatch:
                  summary: Credentials don't match the device
                  value:
                    status: failed
                    message: Credentials don't match this device.


        '409':
          description: Conflict — Device is already online.
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - message
                properties:
                  status:
                    type: string
                    enum: [failed]
                    example: failed
                    description: Indicates the request could not be completed due to a conflict.
                  message:
                    type: string
                    enum: [Device already online.]
                    example: Device already online.
                    description: Conflict reason indicating the device is already marked as online.

        '410':
          description: Gone — Session request has expired.
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - message
                properties:
                  status:
                    type: string
                    enum: [failed]
                    example: failed
                    description: Indicates the resource is no longer available.
                  message:
                    type: string
                    enum: [Session request expired.]
                    example: Session request expired.
                    description: The session request has expired and is no longer valid.

        '500':
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - message
                properties:
                  status:
                    type: string
                    enum: [failed]
                    example: failed
                    description: Indicates an internal server error occurred.
                  message:
                    type: string
                    example: Internal server error. Authentication failed.
                    description: Error message describing the server failure.



  # [3] POST /authenticator/post-logs
  /authenticator/post-logs:
    post:
      summary: Accepts Android Logs from devices for risk assessment or localization
      description: |
        This endpoint accepts `logs` from Android devices along with a session `authToken` and device identifier (`did`) for authentication and validation.
        It performs multiple checks, including validation of log format, session token validity, expiration, and DID match.
        Upon successful validation, the log is queued for processing.
        Always returns HTTP 200 status regardless of the operation result, to maintain client-side stability. Check the `status` field in the response body for operation result.
      tags:
        - Authenticator Endpoints
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - did
                - log
                - authToken
              properties:
                did:
                  type: string
                  description: The Decentralized Identifier (DID) of the Android device.
                  example: "did:example:12345"
                log:
                  type: string
                  description: The log data captured from the device.
                  example: "11-22 13:11:21.537   799  1004 I WifiService: setWifiEnabled package=com.android.settings uid=1000 enable=true"
                authToken:
                  type: string
                  description: The authentication token associated with the device session.
                  example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
      responses:
        '200':
          description: A successful response containing the status of log processing. Always returns 200 regardless of the operation result, to maintain client-side stability. Check the `status` field in the response body.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: The status of the log capture operation.
                    example: "success"
                  message:
                    type: string
                    description: A human-readable message providing more context.
                    example: "Log successfully captured and queued for processing."
              examples:
                Success:
                  summary: Successful processing of logs
                  value:
                    status: success
                    message: Logs stored, analyzed and processed successfully.
                MissingLogData:
                  summary: Log data missing
                  value:
                    status: failed
                    message: Log data cannot be empty.
                MalformedLogDetected:
                  summary: Malformed log detected
                  value:
                    status: failed
                    message: Malformed log detected.
                MissingAccessToken:
                  summary: Authentication token missing
                  value:
                    status: failed
                    message: Authentication token is required.
                InvalidAccessTokenFormat:
                  summary: Invalid authentication token format
                  value:
                    status: failed
                    message: Invalid authentication token format.
                FailedToDecodeAccessToken:
                  summary: Failed to decode authentication token
                  value:
                    status: failed
                    message: Failed to decode authentication token.
                AuthTokenExpired:
                  summary: Authentication token expired
                  value:
                    status: failed
                    message: Authentication token has expired.
                AuthTokenDidMismatch:
                  summary: Authentication token DID mismatch
                  value:
                    status: failed
                    message: Authentication token did does not match the provided did.
                MissingTimestampInLog:
                  summary: Missing timestamp in log data
                  value:
                    status: failed
                    message: Invalid log data. Missing timestamp.
                FailedToStoreLogs:
                  summary: Failed to store logs
                  value:
                    status: failed
                    message: Failed to store logs in the Influx Database.
                FailedToPerformLocalization:
                  summary: Localization execution failed
                  value:
                    status: failed
                    message: Failed to perform localization.
                FailedToPerformRiskAssessmentEngine:
                  summary: Risk assessment execution failed
                  value:
                    status: failed
                    message: Failed to perform risk assessment.
                InternalServerError:
                  summary: Internal server error
                  value:
                    status: failed
                    message: Internal server error while processing session request.

  # [4] GET /authenticator/auth-token-validation
  /authenticator/auth-token-validation:
    get:
      summary: Validate the provided Bearer JWT authentication token to ensure the employee remains logged into the Authenticator Android Application
      description: |
        This endpoint validates the provided Bearer JWT token and checks if it is expired or malformed.
        Returns appropriate HTTP status codes based on validation results.
      tags:
        - Authenticator Endpoints
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - authToken
                - deviceID
              properties:
                authToken:
                  type: string
                  description: The authentication token associated with the device session.
                  example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                deviceID:
                  type: string
                  description: Device ID associated with the token.
                  example: 5c487cb4a62cb29d

      responses:
        '200':
          description: Valid token, device found.
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - message
                  - did
                  - sub
                  - verifiableCredential
                properties:
                  status:
                    type: string
                    enum: [success]
                    example: success
                    description: Indicates successful validation.
                  message:
                    type: string
                    example: valid
                    description: Human-readable status message.
                  did:
                    type: string
                    example: did:web:ips.k8s-cluster.tango.rid-intrasoft.eu:did
                    description: The DID (Decentralized Identifier) associated with the token.
                  sub:
                    type: string
                    example: did:my:wallet
                    description: Subject claim from the token.
                  verifiableCredential:
                    type: object
                    description: The verifiable credential from the token payload.
                    example:
                      id: urn:uuid:869f17ef-a48d-46d2-9567-322abea828a9
        '400':
          description: Bad request - malformed or invalid token.
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - message
                properties:
                  status:
                    type: string
                    enum: [failed]
                    example: failed
                  message:
                    type: string
                    description: Explanation of the error.
              examples:
                MalformedToken:
                  summary: Malformed Authorization Token
                  value:
                    status: failed
                    message: "Authentication token is malformed. It should start with 'Bearer '."
                InvalidFormat:
                  summary: Token format is invalid or cannot be decoded
                  value:
                    status: failed
                    message: "Invalid authentication token format."
                MissingDID:
                  summary: Device did missing from token payload
                  value:
                    status: failed
                    message: "Device 'did' missing from authentication token."

        '401':
          description: Unauthorized - missing or expired token.
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - message
                properties:
                  status:
                    type: string
                    enum: [failed]
                    example: failed
                  message:
                    type: string
                    description: Explanation of why the authentication failed.
              examples:
                MissingToken:
                  summary: Authentication token is missing
                  value:
                    status: failed
                    message: "Authentication token is missing."
                ExpiredToken:
                  summary: Authentication token has expired
                  value:
                    status: failed
                    message: "Authentication token has expired."

        '404':
          description: Device associated with DID not found.
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - message
                properties:
                  status:
                    type: string
                    enum: [failed]
                    example: failed
                  message:
                    type: string
                    example: "Device not found."
        '500':
          description: Internal server error during token validation.
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - message
                properties:
                  status:
                    type: string
                    enum: [failed]
                    example: failed
                  message:
                    type: string
                    example: "Internal server error while validating authentication token."



  # [5] POST /authenticator/logout
  /authenticator/logout:
    post:
      summary: Logs out a device by marking its status as "offline" in the database
      description: |
        This endpoint allows a device to log out by providing an `authToken`, `did`, and `deviceID`. The request validates the authentication token and identifiers. If the device is found, its status is updated to "offline". The operation returns appropriate HTTP status codes with a JSON body indicating success or failure.
      tags:
        - Authenticator Endpoints
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - authToken
                - did
                - deviceID
              properties:
                authToken:
                  type: string
                  description: The authentication token associated with the device session.
                  example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                did:
                  type: string
                  description: The Decentralized Identifier (DID) of the Android device.
                  example: "did:example:12345"
                deviceID:
                  type: string
                  description: Device ID associated with the Auth Token.
                  example: "5c487cb4a62cb29d"
      responses:
        '200':
          description: Device logged out successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  message:
                    type: string
                    example: Device logged out successfully.
              examples:
                Success:
                  summary: Successful logout
                  value:
                    status: success
                    message: Device logged out successfully.
        '400':
          description: Bad request due to missing required fields.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: failed
                  message:
                    type: string
              examples:
                MissingAuthToken:
                  summary: Missing Authentication token
                  value:
                    status: failed
                    message: Missing required authentication token.
                MissingDid:
                  summary: Missing DID
                  value:
                    status: failed
                    message: Missing required did.
                MissingDeviceID:
                  summary: Missing device ID
                  value:
                    status: failed
                    message: Missing required device ID.
        '404':
          description: Device not found in the database.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: failed
                  message:
                    type: string
                    example: Device not found.
              examples:
                DeviceNotFound:
                  summary: Device not found
                  value:
                    status: failed
                    message: Device not found.
        '500':
          description: Internal server error during logout.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: failed
                  message:
                    type: string
                    example: Internal server error while handling logout.
              examples:
                GeneralInternalServerError:
                  summary: Internal Server Error
                  value:
                    status: failed
                    message: Internal server error while handling logout.
                InternalServerErrorDuringAuthTokenValidation:
                  summary: Internal Server Error
                  value:
                    status: failed
                    message: Internal server error while validating authentication token.
  # Authenticator Endpoints #


  # Server API Endpoints # 
  /health:
    get:
      summary: Check server status
      description: |
        This endpoint returns a simple success response indicating that the DCBA-backend server is up and running.
      tags:
        - Server API Endpoints
      responses:
        '200':
          description: Server is healthy and responding.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                    description: Indicates the result of the server status check.
                  message:
                    type: string
                    example: "DCBA-Backend Server is up and functional"
                    description: A human-readable message confirming server functionality.
              examples:
                Healthy:
                  summary: Server is operational
                  value:
                    status: success
                    message: "DCBA-Backend Server is up and functional"
